# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Ignore node_modules
node_modules/

echo ".env"
# Ignore environment variables
.env

# Ignore API keys and secrets
api-keys.json
secrets.json

# Ignore build files
build/
dist/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Expo
.expo/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
